{% extends "admin/base.html.twig" %}

{% block body %}

</br>
</br>
</br>
</br>

    <h1 style= color:white>Super-Catégories :</h1>

    <a class="create" href="{{ path('super_categorie_new') }}">NOUVEAU</a>

</br>
</br>

    <table class="table table-striped table-dark">

        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>UrlImg</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for super_categorie in super_categories %}
            <tr>
                <td>{{ super_categorie.id }}</td>
                <td>{{ super_categorie.nom }}</td>
                <td>{{ super_categorie.urlImg }}</td>
                <td>
                    <a href="{{ path('super_categorie_edit', {'id': super_categorie.id}) }}">Modifier/Supprimer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">Pas d'enregistrements trouvés !</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}