<!DOCTYPE html>

<title>Distribution</title>

{% block body %}
    <h1>Distribution</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ distribution.id }}</td>
            </tr>


            
            <tr>
                <th>Date</th>
                <td>{{ distribution.date ? distribution.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('distribution_index') }}">Retour à la liste</a>

    <a href="{{ path('distribution_edit', {'id': distribution.id}) }}">Mofifier/Supprimer</a>

    {{ include('admin/distribution/_delete_form.html.twig') }}
{% endblock %}
